extends main.pug

block content
    if hasAny
       table(class="table table-dark table-striped table-hover table-responsive text-center")
           thead 
               tr

                   th(scope="col")= "Tittle"             
                   th(scope="col")= "price"
                   th(scope="col")= "Thumbnail"  

           tbody
                each product in Producto
                    tr 
                        td=product.tittle
                        td=`$  ${product.price}`
                        td
                             img(src=product.thumbnail class="w-25")



    else
       h2="there no products"